<!DOCTYPE html>
	<head>
		<title>IOT Group Assignment - {{ time }}</title>
		<meta http-equiv="refresh" content="1;http://localhost" />
		<style>
			table {
				border-spacing: 0;
				min-width: 20em;
				width: 100%;
				table-layout: fixed;
			}
			th, td {
				text-align: center;
				padding: 0.5em;
			}
			tr:nth-child(even) {
				background-color: #eeeeee;
			}
		</style>
	</head>
	<body>
		<h1>IOT Group Assignment - {{ time }}</h1>

		<!-- Current status of the sensors. -->
		<h2>Soil Moisture</h2>
		The soil moisture is currently {{ moisture }}
		<h2>Light</h2>
		The light is currently {{ light }}
		</br></br></br>
		
		<h2>Moisture Targets</h2>
		{% for targets in moisttarget %}
		 	{{ targets }}
			Moisture target for edge {{ targets[1] }} : {{ targets[0] }}
		{% endfor %}


		<h2>Sensor reading history</h2>		
		<!-- Table containing recent moisture data from SQL database. -->
		<table>
		<th>Timestamp</th><th>Source</th><th>Soil Moisture</th>
		{% for row in recentmoist %}
			<tr>
				<td>{{ row[0] }}</td>
				<td>{{ row[1] }}</td>
				<td>{{ row[2] }}</td>
			</tr>
		{% endfor %}
		</table>
				<table>
			<th></th><th></th><th>Average</th>
			<tr style="background-color: #FFFFFF;">
				<td></td>
				<td></td>
				<td>{{ averagemoist }}</td>
			</tr>
		</table>
		<!-- Table containing recent light data from SQL database. -->
		<table>
		<th>Timestamp</th><th>Source</th><th>Light</th>
		{% for row in recentlight %}
			<tr>
				<td>{{ row[0] }}</td>
				<td>{{ row[1] }}</td>
				<td>{{ row[2] }}</td>
			</tr>
		{% endfor %}
		</table>
				<table>
			<th></th><th></th><th>Average</th>
			<tr style="background-color: #FFFFFF;">
				<td></td>
				<td></td>
				<td>{{ averagelight }}</td>
			</tr>
		</table>
	</body>
</html>
