<!DOCTYPE html>
	<head>
		<title>IOT Group Assignment - {{ time }}</title>
		<meta http-equiv="refresh" content="1;http://localhost" />
		<style>
			table {
				border-spacing: 0;
				min-width: 20em;
				width: 100%;
				table-layout: fixed;
			}
			th, td {
				text-align: center;
				padding: 0.5em;
			}
			tr:nth-child(even) {
				background-color: #eeeeee;
			}
		</style>
	</head>
	<body>
		<h1>IOT Group Assignment - {{ time }}</h1>

		<!-- Current status of the sensors. -->
		<h2>Soil Moisture</h2>
		<div>
		{% for m in moisture %}
			<div>
			The soil moisture on edge {{ m[2] }} is currently {{ m[1] }}
			</div>
		{% endfor %}
		</div>

		<h2>Light</h2>
		<div>
		{% for l in light %}
			<div>
			The light on edge {{ l[2] }} is currently {{ l[1] }}
			</div>
		{% endfor %}
		</div>
		
		<h2>Moisture Targets</h2>
		<div>
		{% for targets in moisttarget %}
			<div>
				Moisture target for edge {{ targets[1] }} : {{ targets[0] }}
				<a href={{ '"/moisture/' ~ targets[1] ~ '/up"' }}>Up</a>
				<a href={{ '"/moisture/' ~ targets[1] ~ '/down"' }}>Down</a>
			</div>
		{% endfor %}
		</div>

		<h2>Light Targets</h2>
		<div>
		{% for targets in lighttarget %}
			<div>
				Light target for edge {{ targets[1] }} : {{ targets[0] }}
				<a href={{ '"/light/' ~ targets[1] ~ '/up"' }}>Up</a>
				<a href={{ '"/light/' ~ targets[1] ~ '/down"' }}>Down</a>
			</div>
		{% endfor %}
		</div>



		<h2>Sensor reading history</h2>		
		<h3>Recent Moisture Data</h3>
		<!-- Table containing recent moisture data from SQL database. -->
		<table>
		<th>Timestamp</th><th>Source</th><th>Soil Moisture</th>
		{% for row in recentmoist %}
			<tr>
				<td>{{ row[0] }}</td>
				<td>{{ row[1] }}</td>
				<td>{{ row[2] }}</td>
			</tr>
		{% endfor %}
		</table>
				<table>
			<th></th><th></th><th>Average</th>
			<tr style="background-color: #FFFFFF;">
				<td></td>
				<td></td>
				<td>{{ averagemoist }}</td>
			</tr>
		</table>
		<!-- Table containing recent light data from SQL database. -->
		<h3>Recent Light Data</h3>
		<table>
		<th>Timestamp</th><th>Source</th><th>Light</th>
		{% for row in recentlight %}
			<tr>
				<td>{{ row[0] }}</td>
				<td>{{ row[1] }}</td>
				<td>{{ row[2] }}</td>
			</tr>
		{% endfor %}
		</table>
				<table>
			<th></th><th></th><th>Average</th>
			<tr style="background-color: #FFFFFF;">
				<td></td>
				<td></td>
				<td>{{ averagelight }}</td>
			</tr>
		</table>
	</body>
</html>
